<h1>New maintenance service</h1>

<%= render "form", maintenance_service: @maintenance_service %>

<br>

<div>
  <%= link_to "Back to maintenance services", vehicle_maintenance_services_path(@maintenance_service.vehicle || @vehicle) %>
</div>
